@{
    ViewData["Title"] = "Contact";
}
<h2>Contato</h2>
<h3>Página para contato</h3>

<address>
    Cidade: Matão<br />
    Rua Verona, 640<br />
    Telefone: 4002-8922 
</address>

<address>
    <strong>Email:</strong> <a href="">livaria@gmail.com</a><br />
</address>
