@{
    ViewData["Title"] = "Home Page";
}
<br />
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img style="width:1300px;height:500px" src="~/images/img.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Entre no nosso facebook da montanha dos livros para mais informações
                    <a class="btn btn-default" href="">
                        Facebook
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img style="width:1300px;height:500px" src="~/images/img2.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Entre no nosso intagram para ver as fotos que a nossa livraria proporciona
                    <a class="btn btn-default" href="">
                        Instagram
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img style="width:1300px;height:500px" src="~/images/img3.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Acesse nosso twitter para ficar por dentro das novidades da nossa livraria.
                    <a class="btn btn-default" href="">
                        Twitter
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>